@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital@1&family=Nunito:wght@600&family=Play&display=swap');
body{
    background-color: rgb(0, 0, 0);
}
*{
    font-family: 'Play', sans-serif;
    margin:0;
    padding: 0;
}
nav ul{
    display: flex;
    list-style-type: none;
    width:100vw;
    height: 65px;
    background-color: rgb(22, 22, 22);
    color:white;
    align-items: center;
}
nav ul li{
    padding: 0 20px;
}
.container{
    min-height: 70vh;
    background-color:black;
    color:white;
    display: flex;
    margin: 23px auto;
    width:70vw;
    border-radius: 23px;
    padding: 30px;
    background-image: url("bg6.jpg");
}
#myProgress{
    width:85%;
    justify-content: center;
    cursor: pointer;
    accent-color: rgb(36, 36, 36);
    animation: infinite;
    
}
.brand img{
    margin:0 8px;
    width: 45px;
    background-color:rgb(92, 92, 92);
    border-radius: 20px;
    border: 2px solid rgb(0, 0, 0);
}
.brand{
    display: flex;
    align-items: center;
    font-weight: bolder;
    font-size: 1.3rem;
}
.bottom{
    position: sticky;
    height:30px;
    justify-content: center;
    text-align: center;
}
.icon{
    padding-top: 15px;
    display: flex;
    position: absolute;
    left:45vw;
}
.icon button{
    background-color: transparent;
    border: none;
    display: flex;
}
.icon img{
    padding:7px;
    margin:0 10px;
    border: 0.25px solid rgb(80, 80, 80);
    height:30px;
    border-radius: 50%;
}
.songItems{
    height:50px;
    display: flex;
    background-color: rgba(26, 26, 26, 0.438);
    width: 100%;
    color:rgb(255, 255, 255);
    margin: 12px 0;
    justify-content: space-between;
    align-items: center;
    border-radius: 30px;
    border: 1px solid rgb(107, 107, 107);
}
.songItems img{
    width: 50px;
    margin: 0 23px;
    border-radius: 34px;
}
.songItems .play{
    width:20px;
    cursor: pointer;
}
.songItemContainer{
    margin-top: 30px;
}
.songInfo{
    width: 30%;
    position: absolute;
    left:9vw;
    color: white;
    display: flex;
    align-items: center;
    top: 15px;
    font-weight: bold;

}
.songInfo img{
    width: 50px;
    height:60px;
    padding-right: 20px;
}
#gif{
    opacity: 0;
    transition: opacity 0.81s ease-in;
}


